# Temporary files #
.DS_Store
*.pyc
*.swp
*.swo
*~
\#*
.#*
._*

# IDE files #
/.idea
/.vscode
/.cursorignore
/.cursorrules

# Distribution #
/build/
/dist/
/optmagic.egg-info/

# Testing #
/.pytest_cache/